extends layout

block content
    h1 Best Website For Jokes
    a(href="/random") Random Joke
    br
    a(href="/addjoke") Add A New Joke
    br
    a(href="/all") All Jokes
    br
    a(href="/login") Login
    br
    br

    h4=optionalMessage